.product-detail{
    height: 500px;
    /* background-color: red; */
    margin: 50px auto;
}
.product-detail .left-box{
    width: 340px;
    height: 470px;
    background-color: #fcfcfc;
}

.product-detail .right-box{
    width: 800px;
    height: 500px;
    background-color: aqua;
}
.magnifier-container{
    height: 380px !important;         
     /* !important    正无穷 提高指定样式规则的应用优先权*/
}
