/* 购物车 */
.shopcart{
    height: 630px;
    /* background-color: red; */
    margin-top: 30px;
    margin-bottom: 30px;
}
.shopcart h3{
    font-size: 24px;
    color: #ff6700;
    text-indent: 20px;
    font-weight: 500;
}
.shopcart table{
    height: 500px;
    width: 1200px;
    text-align: center;
}
.shopcart table thead tr th{
    height: 60px;
    background-color: #f1f1f1;

}
.shopcart .totalPrice{
    height: 60px;
    line-height: 60px;
    font-size: 13px;
    /* background-color: #f1f1f1; */
    border: 2px solid #f1f1f1;
    margin-top: 20px;
    color: #000;;
}
/* .shopcart .totalPrice span{
    margin-right: 198px;
} */
.shopcart .totalPrice .chance{
    margin-left:532px;
}
.shopcart .totalPrice .sptotal{
    margin-left:20px;
}
.shopcart .totalPrice .count{
    color: #ff6700;
}
.shopcart .totalPrice .total{
    color: #ff6700;
}
.shopcart .totalPrice .jscount{
    margin-left:119px;
    height: 60px;
    width:61px;
    background-color: #ff6700;
    border: #ff6700;
    color: #fff;
}

.shopcart .totalPrice span:first-of-type{
    margin-left:100px;
}
.shopcart .totalPrice input{
    margin-left: 10px;
}
.shopcart table button{
    width: 20px;
    height: 20px;
}
.shopcart table input{
    width: 50px;
}



